include .coveragerc
include .flake8
include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE_Apache_20
include MANIFEST.in
include pytest.ini
include README.rst
include requirements.txt
include requirements-dev.txt
include requirements-docs.txt
include versioneer.py
include ci_addons/_version.py

include anyci/ctest_junit_formatter.xsl

recursive-include * *.cmd
recursive-include * *.ps1
recursive-include * *.sh

recursive-include _tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat
